<div class="screen">
  <div class="divlogo">

    <span class="comingsoon"></span>
    <div class="divL">
      <img id="logo" src="/assets/logo.png">
    </div>
  </div>
  <div class="coming">
      <div style="margin-left: 5vw;">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/images/david-cadaver.jpg" alt="Angular Carousel 1">
            </div>
            <div class="carousel-caption">
              <h3>Title Goes Here</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/images/annaly-cadaver.jpg" alt="Angular Carousel 2">
            </div>
            <div class="carousel-caption">
              <h3>Title Goes Here</h3>
              <p>Consectetur tortor volutpat pretium.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/images/felix-cadaver.jpg" alt="Angular Carousel 2">
            </div>
            <div class="carousel-caption">
              <h3>Title Goes Here</h3>
              <p>Consectetur tortor volutpat pretium.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/images/annaly-fangonegro.jpg" alt="Angular Carousel 2">
            </div>
            <div class="carousel-caption">
              <h3>Title Goes Here</h3>
              <p>Consectetur tortor volutpat pretium.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/images/sopa-de-caracol.jpg" alt="Angular Carousel 2">
            </div>
            <div class="carousel-caption">
              <h3>Title Goes Here</h3>
              <p>Consectetur tortor volutpat pretium.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/images/felix-conversando.jpg" alt="Angular Carousel 2">
            </div>
            <div class="carousel-caption">
              <h3>Title Goes Here</h3>
              <p>Consectetur tortor volutpat pretium.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
  </div>
</div>
